* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  height: 100vh;
  background: url("bg.jpg") center/cover no-repeat;
  color: #fff;
}
.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.75);
  z-index: 0;
}
.container {
  position: relative;
  z-index: 1;
  height: 100%;
  padding: 0px 80px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 50px;
}
.logo {
  width: 150px;
}
.cta-btn {
  display: flex;
  gap: 25px;
}
.cta-btn select {
  background: transparent;
  color: white;
  border: 1px solid #aaa;
  padding: 6px 15px;
  border-radius: 4px;
}
.signin-btn {
  background: #e50914;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  font-size: 15px;
}
.hero {
  height: calc(100% - 100px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 800px;
  margin: auto;
}
.hero h1 {
  font-size: 3.4rem;
  font-weight: 900;
}
.hero h3 {
  font-size: 1.3rem;
  margin: 15px 0;
  font-weight: 600;
  margin-bottom: 40px;
}
.hero p {
  font-size: 1rem;
  margin-bottom: 20px;
}
.email-box {
  display: flex;
  gap: 10px;
  width: 100%;
  max-width: 600px;
}
.email-box input {
  flex: 1;
  padding: 15px;
  font-size: 1rem;
  border: none;
  outline: none;
  border-radius: 4px;
  background-color: transparent;
  border: gray 2px solid;
  color: whitesmoke;
}
.email-box button {
  background: #e50914;
  border: none;
  color: white;
  padding: 15px 25px;
  font-size: 1.3rem;
  font-weight: bolder;
  border-radius: 4px;
  cursor: pointer;
}
.get-started {
  background: #e50914;
  border: none;
  color: #fff;
  padding: 15px 25px;
  font-size: 1.1rem;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: background 0.3s ease;
}
.get-started i {
  font-size: 1rem;
}
.get-started:hover {
  background: #f6121d;
}

@media (max-width: 768px) {
  .container {
    padding: 20px;
  }
}
